/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
}
.ligne_liens {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
	
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filtres{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left : 6%;
}

.filtres__button {
	color : #1D6154;
	font-weight: 700;
	border-radius: 60px;
	background: white;
	font-family: 'Work Sans';	
	border: 1px solid #1D6154;
	padding: 9px;
	padding-left: 19px;
	padding-right: 19px;
	font-size: 16px;
	margin-right: 2%;

}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

a{
	color: black;
	text-decoration: none;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** page de login **/
.mdp-oublie {
	font-family: 'Work Sans';
	font-weight: 700;
	font-size: 14px;
	color: #1D6154;
	margin-left: 38%;
}


/** rajout post soutenance **/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
	margin-top: 7%;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** page de login **/
.mdp-oublie {
	font-family: 'Work Sans';
	font-weight: 700;
	font-size: 14px;
	color: #1D6154;
	margin-left: 38%;
}


/** page d'édition **/

.edition--background {
    background-color: black;
    display: flex;
    flex-direction: row;
	margin-top: 0;
	width: 100%;
    height: 5em;
	color: white;
	justify-content: center;
	align-items: center;
}

.fa-pen-to-square{
	color: #1D6154;
}
.edition--background .fa-pen-to-square{
	color: white;
}

.edition--background button .fa-pen-to-square{
    color : white;
	z-index: 2;
}

.projet-title {
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
	align-items: center;

}
.projet-title p{
	margin-left: 1.5%;
	font-size: 1em;
	margin-top: -2.5%;
}
#modification{
	margin-left: 2%;
	color: black;
	font-size: 1em;
	margin-top: -2.5%;
}



a{
	color: black;
	text-decoration: none;
}


/**modal**/
.modal1 {
    display: none;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content{
    width: 48%;
    opacity: 1;
    background-color: white;
	margin-left: 25%;
	margin-top: 11%;
	border-radius: 10px;
	
}


.modal_gallery {
    height: 50%;
    width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 5px;
    margin-left: 15%;
    margin-top: 10%;
}

.modal_gallery img{
    width: 60%;
}


.bin{
	position: absolute;
	z-index: 2;
	top: 3%;
	right: 45%;
	background-color: black;
	padding : 2%
}
.bin i{
	color: white;
	font-size: 0.8em;
	margin-top: 15%;
}
.div_img{
	position: relative;
}
.m_img{
	position: relative;
}


.modal_btn{
    background: #1D6154;
    color: white;
    border-radius: 60px;
    margin-left: 35%;
    margin-top: 5%;
	font-size: 20px;
	font-weight: 400;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 15px;

}
#modal2_btn{
	background: grey;
}

.modal2 {
    display: none;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-content2{
    width: 48%;
    opacity: 1;
    background-color: white;
	margin-left: 25%;
	margin-top: 9%;
	border-radius: 10px;
}
.titre_modal{
	color: black;
	font-family: Work Sans;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin-top: 10px;
}

.croix1{
	font-size: 24px;
	margin-top: 2%;
	margin-left: 95%;
}

.header_modal2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 24px;
	margin-top: 15px;
}


.form_modal{
    display: flex;
    flex-direction: column;
	margin: 10%;
}
input, select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
}
label {
	margin-top: 5px;
}

.form-photo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #E8F1F7;
	width: 500px;
	height: 250px;
	border-radius: 10px;
	margin-left: 15%;
}
.form-photo i{
	color: #306685;
	font-size: 90px;
	font-weight: 100;
	margin: 20px;
	margin-top: -25px;
}
.form-photo input {
	display: none;
}
.form-photo label {
	font-family: 'work sans';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	cursor: pointer;
	margin-top: -10px;
}
.image_preview{
	object-fit:cover;
	width: 200px;
	height: 230px;
}

.form_ajout_photo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #E8F1F7;
	width: 500px;
	height: 200px;
	border-radius: 10px;
}

